/* Reset navbar styles */
.navbar {
    background: none;
    /* Remove any background */
    border: none;
    /* Remove border */
    padding: 0px;
    margin: 0px;
}

.navbar-nav .nav-link {
    font-weight: 300;
    /* Lighter weight for navbar links */
    color: #000 !important;
    /* Ensure text color overrides the default */
}

/* Reset header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    /* Lighter weight for headers */
    color: #000;
    /* Custom color */
    margin: 0;
    /* Remove margin */
}

/* Reset paragraph and text styles */
p,
li,
blockquote {
    font-weight: 300;
    /* Lighter weight */
    color: #333;
    /* Custom text color */
}

/* Remove any link styles (optional) */
a {
    text-decoration: none;
    color: inherit;
    /* Inherit color from parent */
}



/* css styles */
/* Import the Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-brand {
    display: none;
}

.banner {
    background: #652d99;
    padding: 20px 20px 10px 20px;

}

.banner img {
    width: 200px;
}

.banner-text {
    color: white;
    font-size: 1.5em;
    font-weight: 400;

}


.navbar {
    background: #652d99;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navbar-nav .nav-link {
    color: #fff !important
}

.navbar-nav .nav-link.active {
    color: #fff;
    background-color: grey;
}

/* Style navbar links on hover */
.navbar-nav .nav-link:hover {
    color: #fff;
    /* Change text color on hover */
    background-color: #A5A5A5;
    /* Change background color on hover */
    transition: all 0.3s ease;
    /* Smooth transition */
}

/* Optional: Add underline on hover */
.navbar-nav .nav-link:hover {
    text-decoration: none;
    /* Underline on hover */
}

.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    /* border-left: 1px solid #2761e3;
  color: #2761e3 !important; */
    color: #fff !important;
    background-color: grey;
    border-color: #A5A5A5;
}

.sidebar nav[role=doc-toc] ul>li>a:hover,
.sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
    /* color: #51247A !important; */
    border-left: 1px solid #51247A;
    background-color: #A5A5A5;
    border-color: #A5A5A5;
    color: #fff !important;
}

a:link {
    color: #51247A;
}

a:visited {
    color: #652d99;
}

h1,
h2 {
    color: #51247A;
}

.warning b {
    color: white;
    background-color: #adb5bd;
}