.quarto/
.DS_Store
/.quarto/
*_cache/
*_files/
!docs/**
.Rproj.user
.RData
.Rhistory
renv/
.positai

# Knitr/R cache files
*_cache/
*.rdb
*.rdx

# R workspace dumps
.RData
.Rhistory

# Large model files
*.udpipe
*.rds

# Old pre-rename tutorial folders
tutorials/coll/
tutorials/corplingr/
tutorials/basicstatz/
tutorials/basicquant/
tutorials/conceptualmaps_showcase2/
tutorials/topmod/
